*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.dropdown-menu{
    background: #FFC107;

}

.dropdown-item:hover{
    background: #6c757d;
    color: antiquewhite
}
a.btn-link{
    color: rgb(11, 199, 199)
}   
a.btn-link:hover{
    color: wheat
}   
.navbar-custom{
    background-color: #318fe0;
    border: 1px solid black;
    
}
.navbar-light .navbar-nav .nav-link{
    color: antiquewhite;
    font-size: 15px
}

.navbar-light .navbar-nav .nav-link:hover{
    color: white;
}

.card-body{
    background-color: #6c757d;
    color: whitesmoke;
}

.navbar-light .navbar-toggler{
    background-color: #ecd502;
    border: 1px solid black;
}
body{
    background-color: #3c76a7;
}

.card{
    border: 1px solid black;
}

.card-header{
    background-color: rgb(228, 201, 4);
    font-size: 15px;
    border-bottom: 1px solid black
}



.container-avatar {
    display: block; 
    width: 45px;
    height: 45px;  
    float: left;
    
}

.container-avatar .avatar{
    width: 100%;
    height: 100%;
    border-radius: 60%;
    border: 1px solid black
}

.data-user{
margin-left: 10px;
font-weight: bold;
line-height: 40px;
display: inline;
color: black;
font-size: 16px

}

.nick{
    color: #795548;
    font-weight: lighter
}

.pub .data-pub{
  float: left;
  width: 40%;
  
}
.pub{
    margin: 0px;
    padding: 5px;
}

.image-container{
    
    width: 100%;
    height: 450px;
   overflow: hidden;
}

.card-body .image-container img{
    width: 100%;
    height: 100%;
}


.card-pub-body{
    padding: 0;
}

.card-pub {
    margin-bottom: 8px
}
.pub-footer{
    width: 100%;
    float: left;
    padding: 0px;
    background: #6c757d;
    padding-left: 5px ;
    border-top: 1px solid black
}
.description{ 
    margin: 0px auto;
    margin-left: 10px;
    font-weight: lighter;
    
    color: rgb(255, 251, 211);
    height: 21px;
    line-height: 12px;
    width: 98%;
    overflow: auto;
    font-size: 15px;
    
}

.btn-comments{
  height: 25px;
  line-height: 13px;
  margin: 0px 0px 3px 2px;
}

.likes{
    float: right;
    letter-spacing: 4px;
}
.likes-count{
    font-size: 11px;
    color:rgb(255, 251, 211);
}
.heart{
    width: 1.5em;
    margin: 8px;
    margin-right: 0px;
}


.desc{
line-height: 0px;
}

.date{
    color: rgb(11, 199, 199)
}

.form-comment{
    padding: 7px;
    
}
.spacig-letter{
    letter-spacing: 1.2px
}

.de{
    margin: 5px
}

.container-avatar-profile{
    width: 150px;
    height: 150px;
    float: left
}

.data-user-porfile{
    color: whitesmoke;
    margin-bottom: 10px;
     float: left;
     margin-left: 15px;
     font-size: 2em;
    }

.data-pub-porfile{
    margin-bottom: 15px
}